.navBar-Heading{
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center
}
body{
    background: url(../images/background.jpg);
}
ul {
    list-style-type: none;
  }
  li{
    display: inline;
  }