.navBar-Heading{
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center
}
h1,h2{
    text-align: center
}
h1{
    color:#008B8B
}
body{
    background: url(../images/background.jpg);
}
.gallery{
   text-align: center;
}
